<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="<%= name %>">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `<%= name %>`
     * <%= description %>
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class <%= elementClassName %> extends Polymer.Element {
      static get is() { return '<%= name %>'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: '<%= name %>'
          }
        };
      }
    }

    window.customElements.define(<%= elementClassName %>.is, <%= elementClassName %>);
  </script>
</dom-module>
