<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title><%= name %> demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../<%= name %>.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic <%= name %> demo</h3>
      <demo-snippet>
        <template>
          <<%= name %>></<%= name %>>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
